*{
    margin: 0;
    padding: 0;
    font-family:  "Poppins", sans-serif ;
    box-sizing: border-box;
}
body{
    background: #fdedec;
}
.gallery{
    width: 900px;
    display: flex;
    overflow-x:scroll;
}
.gallery div{
    width: 100%;
    display: grid;
    /*grid-template-columns: auto auto auto;*/
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.gallery div img{
    width: 100%;
    height: 90%;
    cursor: pointer;
}
.gallery div img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgb(68, 77, 136,0.2);
}
.full-img{
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;

}
.full-img img{
    width: 80%;
    height: 80%;
    max-width: 500px;

}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;

}
#backBtn,#nextBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}
.heading h3{
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 2px solid #222;
    padding-bottom: 10px;
}
.heading h3 span{
    font-weight: 100;
}